*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* root variables */
:root {
  --primary-color: #3d5da8;
  --secondary-color: #2037a1;
  --button-color: #426bce;
  --card-background: #ececf6;
  --text-color: #161426;
  --light-text-color: #58535c;
}
/* navigation container styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  font-family: "inter", sans-serif;
  /* background-color: #e6e2e2; */
}
.nav-container h1 {
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "teko", "inter";
}

.nav-contents {
  display: flex;
  gap: 1rem;
}
.nav-contents a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.8rem;
}
.nav-contents a:hover {
  color: var(--primary-color);
  transition: all 200ms ease-in-out 200ms;
}
.nav-container button {
  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}
.nav-container button:hover {
  background-color: var(--secondary-color);
  transition: all 1s ease-in-out 200ms;
}

/* Hide hamburger by default */
#hamburger {
  display: none;
  cursor: pointer;
}

/* hero section styles */
.hero-container {
  background: linear-gradient(to right, hsl(222, 96%, 21%), #070e1e);
  border-radius: 10px;
  height: 50vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.hero-container img {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hero-text {
  padding: 0rem 4rem;
}
.hero-text h1 {
  color: var(--card-background);
  font-size: 1.5rem;
  max-width: 400px;
  font-family: "inter", sans-serif;
  text-shadow: #1b1c1f 2px 2px 4px;
}
.hero-text p {
  color: #dbd7d7;
  font-size: 0.8rem;
  max-width: 82ch;
  margin: 1rem 0;
  font-family: "inter", sans-serif;
}

.hero-btn {
  padding: 0.5rem 1rem;
  background-color: var(--card-background);
  color: var(--button-color);
  border: none;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  width: 50%;
}
.hero-btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  transition: all 200ms ease-in-out 200ms;
}

/* FEATURED PRODUCTS SECTION */
.featured-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-family: "inter", sans-serif;
  margin: 1.5rem 0;
}
.featured-section h2 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.4rem;
  font-family: "inter";
}
.featured-section a {
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--card-background);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.5) 1px 5px 8px 0px;
  font-size: 0.8rem;
}
.featured-section a:hover {
  background-color: var(--secondary-color);
  transition: all 1s ease-in-out 200ms;
}

/* featured cards section */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-family: "inter", sans-serif;
  background-color: var(--card-background);
}
.card {
  width: 300px;
  height: 400px;
  padding: 1rem;
  margin: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #fff;
}
.card-details h2 {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.card-price {
  color: var(--light-text-color);
  font-size: 0.9rem;
}
.card-details h4 {
  color: var(--primary-color);
  font-size: 1rem;
  margin: 0.5rem 0;
}
.card img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
}

/* Responsive styles for laptop devices */
@media (max-width: 768px) {
  .nav-contents {
    position: absolute;
    top: 48px;
    right: 0;
    background-color: #e6e2e2;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 50vh;
    width: 100%;
    display: none;
  }

  .nav-contents.active {
    display: flex;
  }

  #hamburger {
    display: block;
    fill: var(--secondary-color);
  }

  .nav-container button {
    display: none;
  }
  .hero-text {
    padding: 0rem 0rem;
  }
  .hero-text h1 {
    color: var(--card-background);
    font-size: 1.1rem;
  }
  .hero-text p {
    font-size: 0.8rem;
    max-width: 60ch;
    font-family: sans-serif;
  }
  .hero-btn {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    width: 90%;
  }
  .hero-text {
    padding: 0rem 0rem;
  }
  .hero-container img {
    max-width: 200px;
    height: 280px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* media query for small screen devices */
@media (max-width: 480px) {
  .hero-container {
    justify-content: center;
    height: 45vh;
  }

  .hero-container img {
    display: none;
  }

  .hero-text {
    padding: 0rem 0rem;
  }

  .hero-text h1 {
    color: var(--card-background);

    font-size: 1rem;
  }

  .hero-text p {
    font-size: 0.7rem;
    max-width: 60ch;
    line-height: 1.2rem;
  }

  .hero-btn {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    width: 100%;
  }

  .featured-section h2 {
    font-size: 1rem;
  }
  .featured-section a {
    font-size: 0.7rem;
  }
  .featured-section {
    padding: 0.5rem 1rem;
    margin: 0.7rem 0;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
